<section class="heading-section">
  <h1 class="title is-1 has-text-centered">Todos</h1>
  <h1>1.06</h1>

</section>

<div class="container">
  <div class="add-todo-box">
    <form>
      <h2 class="title is-5">New ToDo</h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Write new task...">
        </p>
        <p class="control">
          <a class="button ">
            Add
          </a>
        </p>
      </div>
    </form>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="todos-list">

      <div class="todo-item complited">
        <div class="check-box">
          <i class="material-icons">check</i>
        </div>
          <div class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, officiis neque modi reiciendis dolores cum ab, assumenda nobis, voluptatum ipsam nesciunt repellat hic vel exercitationem optio omnis cumque voluptatibus odit.
          </div>
        
      </div>
      <div class="todo-item">
        <div class="check-box">
          <i class="material-icons">check</i>
        </div>
          <div class="todo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, officiis neque modi reiciendis dolores cum ab, assumenda nobis, voluptatum ipsam nesciunt repellat hic vel exercitationem optio omnis cumque voluptatibus odit.
          </div>
          <div class="todo-controls-box">
            <div class="todo-control-button">
              <i class="material-icons">edit</i>
              <i class="material-icons">delete</i>
            </div>
          </div>
        
      </div>
      
    </div>
  </div>
</section>